#cemantix-game {
    #cemantix-success {
        @apply bg-green-700 shadow-none m-0 p-4 rounded-sm border border-green-500;
        margin-bottom: 8px !important;
    }

    #cemantix-form {
        @apply flex flex-wrap m-0 p-0;

        .guessbox {
            @apply flex m-0 p-0 flex-grow;

            input { @apply w-full; }

        }

        input {
            @apply h-10 px-2 m-0 rounded-none border border-white rounded-l-sm;
            background-color: transparent;

            &:focus-visible {
                @apply outline-none;
            }

            &[type=submit] {
                @apply uppercase cursor-pointer duration-300 border-l-0
                rounded-l-none rounded-r-sm;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
        }

        #cemantix-error {
            @apply w-full bg-yellow border border-yellow-200 text-black m-0 px-4
            rounded-sm mt-2;
            line-height: 48px;
    
            i {
                @apply text-red;
                font-style: normal;
            }
        }
    }

    table#cemantix-guessable {
        @apply flex flex-col m-0 w-full border border-white rounded-sm mt-2;

        thead {
            @apply shadow-none;

            th {
                @apply px-2 h-7 text-left;
            }
        }

        tr {
            @apply grid border-b border-white;
            grid-template-columns: 48px 1fr 64px 48px 64px 128px;

            &.separator {
                @apply hidden;
            }

            &#cemantix-guessed {
                td {
                    @apply bg-white h-7 text-primary-950 !important;
                    
                    .progress-container {
                        @apply flex  bg-transparent border border-primary-950 shadow-none h-4
                        rounded !important;
                        padding: 1px;
        
                        .progress-bar {
                            @apply flex items-center justify-end text-white text-xs
                            rounded-sm text-right;
                            background-image: linear-gradient(to right, #182553, #182553) !important;
                        }
                    }
                }
            }

            &.sink {
                @apply shadow-none rounded-none;
                background-color: rgba(255, 255, 255, 0.2);
            }
        }

        td {
            @apply px-2 text-left;
        
            &.number {
                @apply font-bold;
            }

            &:last-child {
                @apply flex items-center justify-center;
            }

            .progress-container {
                @apply flex  bg-transparent border border-white shadow-none h-4
                rounded !important;
                padding: 1px;

                .progress-bar {
                    @apply flex items-center justify-end text-primary-950 text-xs
                    rounded-sm text-right;
                    background-image: linear-gradient(to right, #ffffff, #ffffff) !important;
                }
            }
        }
    }
}
