#cemantix-game {
    #cemantix-success {
        @apply bg-green-700 shadow-none m-0 p-4 rounded-none border border-green-500 flex flex-col
        text-sm;
        margin-bottom: 8px !important;
    }

    #cemantix-form {
        @apply flex flex-wrap m-0 p-0;

        .guessbox {
            @apply flex m-0 p-0 flex-grow;

            input { @apply w-full; }

        }

        input {
            @apply h-10 px-2 m-0 rounded-none border border-white;
            background-color: transparent;

            &:focus-visible {
                @apply outline-none;
            }

            &[type=submit] {
                @apply uppercase cursor-pointer duration-300 border-l-0;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
        }

        #cemantix-error {
            @apply w-full bg-yellow border border-yellow-200 text-black m-0 px-4
            rounded-sm mt-2;
            line-height: 48px;
    
            i {
                @apply text-red;
                font-style: normal;
            }
        }
    }

    table#cemantix-guessable {
        @apply flex flex-col m-0 w-full border border-white mt-2;

        thead {
            @apply shadow-none;

            th {
                @apply p-2 text-left;
            }
        }

        tr {
            @apply grid border-b border-white;
            grid-template-columns: 48px 1fr 64px 48px 64px 128px;

            &.separator {
                @apply hidden;
            }

            &#cemantix-guessed {
                td {
                    @apply bg-white h-7 text-primary-950 !important;
                    
                    .progress-container {
                        @apply flex  bg-transparent border border-primary-950 shadow-none h-4
                        rounded !important;
                        padding: 1px;
        
                        .progress-bar {
                            @apply flex items-center justify-end text-white text-xs
                            rounded-sm text-right;
                            background-image: linear-gradient(to right, #182553, #182553) !important;
                        }
                    }
                }
            }

            &.sink {
                @apply shadow-none rounded-none;
                background-color: rgba(255, 255, 255, 0.2);
            }

            &:last-child {
                @apply border-b-0;
            }
        }

        td {
            @apply px-2 text-left;
        
            &.number {
                @apply font-bold;
            }

            &:last-child {
                @apply flex items-center justify-center;
            }

            .progress-container {
                @apply flex  bg-transparent border border-white shadow-none h-4
                rounded !important;
                padding: 1px;

                .progress-bar {
                    @apply flex items-center justify-end text-primary-950 text-xs
                    rounded-sm text-right;
                    background-image: linear-gradient(to right, #ffffff, #ffffff) !important;
                }
            }
        }
    }
}


@media (max-width: 562px) {
    #cemantix-game {
        table#cemantix-guessable {

            thead tr {
                th,
                td {
                    @apply text-xs;
                }

                &#cemantix-guessed {
                    @apply h-auto;
                }
            }

            tr {
                @apply grid border-b border-white;
                grid-template-columns: 24px 1fr 48px 24px 32px 76px;

                td {
                    @apply text-xs px-0 text-center;

                    &.word {
                        @apply text-left px-2;
                    }

                    &:last-child {
                        @apply px-2
                    }
                }
            }
        }
    }
}

#jemantix-cemantix-share {
    @apply pt-4 flex flex-col border-t-2 border-green-500 gap-2 mt-2;

    a,
    button {
        @apply bg-green-200 text-green-700 px-4 p-2 uppercase font-bold
        hover:bg-green-100 duration-300 border border-green-500 text-center;
    }
}