#jemantix-navigation-button {
    @apply fixed top-4 left-4 bg-no-repeat rounded z-250;
    background-image: url("asset/icon/png/grid-dark.png");
    background-size: 32px;
    background-position: center center;

    &.jemantix-active {
        @apply bg-white hover:bg-white hover:opacity-70 !important;
        background-image: url("asset/icon/png/close-dark.png");
    }
}

#jemantix-navigation-button,
#jemantix-navigation-tabs div a,
#jemantix-navigation nav.menu a {
    @apply w-10 h-10 duration-300 bg-white text-primary-950;

    &:hover {
        @apply opacity-80;
    }
}

#jemantix-navigation {
    @apply fixed top-16 left-4 hidden gap-4 z-250;
    animation: 300ms fadeInDown linear both;

    &.jemantix-active {
        @apply flex;
    }

    nav.menu {
        @apply flex flex-col p-0 m-0 gap-0;

        a {
            @apply m-0 flex justify-center items-center;
            text-shadow: none;

            &:first-child {
                @apply rounded-t;
            }

            &#cloud-button {
                @apply rounded-b;
            }
        }
    }
}

#jemantix-navigation-tabs {
    @apply fixed top-4 left-16 hidden gap-4 z-250;
    
    &.jemantix-active {
        @apply flex;
    }

    div {
        a {
            @apply flex px-4 justify-center items-center w-auto
            shadow-none uppercase tracking-wider text-primary-950;
            text-shadow: none;
    
            &:first-child {
                @apply rounded-l rounded-r-none;
            }
    
            &:last-child {
                @apply rounded-r rounded-l-none;
            }

            &.active {
                @apply underline;
            }

            &.inactive {
                @apply opacity-100;
            }
        }
    }
}