#jemantix-navigation-button {
    @apply fixed top-2 left-2 bg-no-repeat z-250;
    background-image: url("asset/icon/png/grid.png");
    background-size: 32px;
    background-position: center center;

    &.jemantix-active {
        background-image: url("asset/icon/png/close.png");
    }
}

#jemantix-navigation-button,
#jemantix-navigation-tabs div a,
#jemantix-navigation nav.menu a {
    @apply w-10 h-10 duration-300 
    border border-white text-white bg-primary-950;

    &:hover {
        @apply opacity-50;
    }
}

#jemantix-navigation {
    @apply fixed top-12 left-2 hidden gap-4 z-250;
    animation: 300ms fadeInDown linear both;

    &.jemantix-active {
        @apply flex;
    }

    nav.menu {
        @apply flex flex-col p-0 m-0 gap-0;

        a {
            @apply m-0 flex justify-center items-center border-b-0;
            text-shadow: none;

            &:first-child {
                @apply border-t-0;
            }

            &#cloud-button {
                @apply border-b;
            }
        }

        #team-members {
            @apply flex flex-col justify-center items-center bg-white rounded-full w-10 h-10 m-0
            text-primary-950 font-bold text-xs static mt-2;
            text-shadow: none;

            &::before {
                content: 'PLAYERS';
                font-size: 8px;
            }
        }
    }
}

#jemantix-navigation-tabs {
    @apply fixed top-2 left-12 hidden gap-0 z-250;
    
    &.jemantix-active {
        @apply flex;
    }

    div {
        @apply flex gap-0;

        a {
            @apply flex px-2 justify-center items-center w-auto
            shadow-none uppercase tracking-wider opacity-100
            bg-primary-950 text-xs rounded-none;
            text-shadow: none;

            &.active {
                @apply bg-white text-primary-900;
            }
        }
    }

    .yesterday {
        @apply flex justify-center items-center
        h-10 text-white bg-primary-900 m-0 shadow-none p-0 px-1 max-w-32 flex-wrap
        font-bold gap-0 uppercase rounded ml-1;
        font-size: 9px;
        background-image:none;

        a {
            @apply h-auto bg-primary-950 text-white no-underline 
            px-1 text-xs rounded border-0;

            u {
                @apply no-underline;
            }
        }
    }
}