body.jemantix {
    #pedantix-game {
        #pedantix-success {
            @apply bg-green-700 shadow-none m-0 p-4 rounded-none border border-green-500 hidden;
            margin-bottom: 8px !important;
        }

        #pedantix-form {
            @apply flex flex-wrap m-0 p-0;

            #pin {
                @apply hidden;
            }

            .guessbox {
                @apply flex m-0 p-0 flex-grow;

                input { @apply w-full; }

            }

            input {
                @apply h-10 px-2 m-0 rounded-none border border-white;
                background-color: transparent;

                &:focus-visible {
                    @apply outline-none;
                }

                &[type=submit] {
                    @apply uppercase cursor-pointer duration-300 border-l-0;
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.2);
                    }
                }
            }

            #pedantix-error {
                @apply w-full bg-yellow border border-yellow-200 text-black m-0 px-4
                rounded-none mt-2;
                line-height: 48px;
        
                i {
                    @apply text-red;
                    font-style: normal;
                }
            }
        }

        #wiki {
            @apply m-0 w-full border border-white rounded-none mt-2 bg-primary-950 text-white shadow-none p-0;

            h2 {
                @apply border-b border-white p-4 text-xl !important;

                span {
                    @apply text-xl !important;
                }
            }

            span {
                @apply shadow-none text-sm !important;
                font-family: "ubuntu", sans-serif !important;
            }

            #article {
                @apply p-4 flex flex-col gap-4;

                span {
                    @apply text-base !important;
                }
            }
        }
    }

    #pedantix-guessable {
        @apply flex flex-col m-0 w-full border border-white rounded-none mb-2;

        thead {
            @apply shadow-none bg-white text-primary-950 rounded-none;
            background-image: none;

            th {
                @apply px-2 h-7 text-left;
            }
        }

        tr {
            @apply grid border-b border-white;
            grid-template-columns: 48px 1fr 48px;
            
            &:last-child {
                @apply border-0;
            }
        }

        td {
            @apply text-xs font-bold tracking-widest px-2 py-1;
        }
    }
}