#jemantix {
    .success {
        @apply rounded-none shadow-none m-0 p-4
        text-left text-sm bg-transparent
        bg-gradient-to-b from-green-700 to-transparent;
        animation: fadeInDown 1200ms ease-in-out both;
        z-index: 400;
        margin-bottom: 0px !important;

        #jemantix-cemantix-leaderboard-button,
        #jemantix-pedantix-leaderboard-button {
            @apply flex text-white flex-col mt-4
            bg-green px-4 py-2 uppercase rounded font-bold text-base
            hover:bg-green-500;
        }
    }


    #cemantix-form,
    #pedantix-form {
        @apply flex py-4 gap-4 m-0 bg-transparent rounded-none px-0 pb-0 max-w-3xl mx-auto w-full;
        background-color: rgb(31, 59, 137) !important;
        top: 0 !important;
        box-shadow: none !important;

        .guessbox {
            @apply flex-grow m-0;
            input {
                @apply w-full;
            }
        }

        input {
            @apply bg-primary-950 rounded border-none
            duration-300 p-2 outline-none focus:bg-primary-800 m-0;

            &[type=submit] {
                @apply uppercase;
            }
        }

        .error {
            @apply w-full m-0 text-sm;

            i {
                @apply text-red not-italic text-base uppercase;
            }
        }
    }

    /*************************************/
    /** CEMANTIX                        **/
    /*************************************/
    
    #cemantix-game {
        @apply flex flex-col;
    
        #cemantix-guessable {
            @apply flex flex-col m-0 max-w-3xl mx-auto;
            width: calc(100% - 32px);

            thead {
                @apply shadow-none rounded bg-primary-950 mb-2;
                
                td,
                th {
                    @apply text-xs py-2 !important;
                }

                td {
                    @apply bg-primary-800;

                    &:first-child { @apply rounded-bl; }
                    &:last-child { @apply rounded-br; }
                }
            }

            tbody {
                @apply flex flex-col gap-1;
            }

            tr {
                @apply grid;
                grid-template-columns: 24px 1fr 48px 24px 32px 86px;

                &.separator {
                    @apply hidden;
                }

                th,
                td {
                    @apply flex text-xs font-bold p-0 items-center px-1;

                    &.number,
                    &.emoji {
                        @apply text-center justify-center p-0;
                    }

                    &.word {
                        @apply text-base;
                    }
                }

                &.sink {
                    @apply shadow-none rounded-none;
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }

            .progress-container {
                @apply flex bg-transparent border border-white shadow-none h-4
                rounded mx-2 !important;
                padding: 1px;

                .progress-bar {
                    @apply flex items-center justify-end text-primary-950 text-xs
                    rounded-sm text-right;
                    background-image: linear-gradient(140deg, #aaaaaa, #ffffff) !important;
                }
            }
        }
    }

    /*************************************/
    /** PEDANTIX                        **/
    /*************************************/

    #pedantix-game {
        @apply flex flex-col;

        #wiki {
            @apply shadow-none rounded-none bg-primary-900 pt-0 px-0 pb-8 m-0 text-left
            text-white max-w-3xl mx-auto w-full;

            h2 {
                @apply mb-4;

                span.w {
                    @apply text-4xl shadow-none bg-primary-700;
                }
            }

            #article {
                span.w {
                    @apply text-base bg-primary-700;
                    box-shadow: none !important;
                    transition-delay: 300ms !important;
                    transition-duration: 600ms !important;
                    transition-timing-function: ease-in;
                }

                p {
                    @apply mb-4;
                    line-height: 32px;
                }
            }
        }

        #pedantix-guessable {
            @apply flex flex-col m-0 mt-4 max-w-3xl mx-auto w-full;
            width: calc(100% - 32px);

            thead {
                @apply shadow-none rounded bg-primary-950 mb-2;
                background-image: none;
                
                td,
                th {
                    @apply text-xs py-2 !important;
                }

                td {
                    @apply bg-primary-800;

                    &:first-child { @apply rounded-bl; }
                    &:last-child { @apply rounded-br; }
                }
            }

            tbody {
                @apply flex flex-col gap-1;
            }

            tr {
                @apply grid;
                grid-template-columns: 64px 1fr 64px;

                th,
                td {
                    @apply flex text-sm font-bold p-0 items-center px-1;

                    &:first-child {
                        @apply text-center justify-center;
                    }
                }
            }
        }
    }
}



@media (max-width: 768px) {

    #jemantix #cemantix-form,
    #jemantix #pedantix-form {
        @apply mx-4;
        width: calc(100% - 32px);


    }

    #cemantix-game #cemantix-guessable tr td.word {
        @apply text-sm !important;
    }

    #pedantix-game #wiki {
        @apply px-4 !important;
    }

    #pedantix-guessable {
        @apply mx-4 !important;
        width: calc(100% - 32px);
    }

}